@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>
</form>
<!--
<table class="table">
    @foreach (var rest in Model.Restaurants) {
        <tr>
            <td>@rest.Name</td>
            <td>@rest.Location</td>
            <td>@rest.Cuisine</td>
            <td>
                <a asp-page="./Detail" asp-route-restId="@rest.Id" class="btn btn-lg">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
                <a asp-page="./Edit" asp-route-restId="@rest.Id" class="btn btn-lg">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a asp-page="./Delete" asp-route-restId="@rest.Id" class="btn btn-lg">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
    -->

@foreach (var rest in Model.Restaurants) {
    <partial name="_Summary" model="rest" />
}

<a asp-page="./Edit" class="btn btn-primary">Add New</a>

@section footer{ <div>@Model.Message</div>
}
